
/* Made by 240115551 // Will Giles -> 31/10/25 (mostly done) */
/*ALL IN ONE FILE FOR SIMILICITY, ALL LOG IN AND REGISTER PAGE CSS IS HERE */

/*Fonts*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}




/*MAIN*/ 

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}




a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #d96817;
}




h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}




/* inputs */
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}





button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*TEXT*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;

}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;

}
.text-center {
	text-align: center;
}

.p-t-12 {
    padding-top: 10px; /* makes the gap between create accoubt and forgot login/password*/
}

.p-t-136 {
    padding-top: 100px;  
}



/* LOGIN */

.LoginPageLimit {
  width: 100%;
  margin: 0 auto;
}

.Background-colours {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  /*background: -webkit-linear-gradient(-135deg, #8c0050, #4158d0);    /*c850c0*/
  background: -o-linear-gradient(-135deg, #8c0050, #4158d0);
  background: linear-gradient(-135deg, #8c0050, #4158d0);
}

.login-box {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  align-content: center;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}

.login100-pic {
  width: 316px;
}

.login100-pic img {
  max-width: 100%;
}

.timmy-format-div { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.login100-form {
  width: 290px;
}

.login-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}





.input-wrap {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
  
}

 
/*shadowa and focus */
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #d96817;
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #d96817;
  padding-left: 28px;
}


/*media responsiveness defaults*/

@media (max-width: 992px) {
  .login-box {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 43%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .login-box {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .login-box {
    padding: 100px 15px 33px 15px;
  }
}


/*if form is valid*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins, sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: visible; /* show tooltip */
  opacity: 1;          /* fully visible */
  z-index: 100;
  transition: opacity 0.4s;
}




.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;

  visibility: visible;
  opacity: 1;
  z-index: 101;
}

@media (max-width: 992px) {
  .alert-validate::before {    
    visibility: visible;
    opacity: 1;
  }
}

/* REGISTER PAGE */

.hidden {
  display: none;
}

.login100-form.register-mode .register-fields {
  display: block;
}

/*.login100-form.register-mode .input-wrap:not(.register-fields .input-wrap) {
  display: none;
}*/
/*fixes above issue*/

.register-fields {
  display: none;
}
.login100-form.register-mode .register-fields {
  display: block;
}

.login100-form.register-mode .text {
  content: "REGISTER";
}

.container {
	width: 100%;
	height: 50px;
	border-radius: 25px;
	background: #d96817;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;
	cursor: pointer; 

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.text {
	text-align: center;
	font-family: Montserrat-Bold;
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
}

.fingerprint {
	left: 1.5px;
	opacity: 0;
	position: absolute;
	stroke: #777;
	top: -24px;
	transition: opacity 1ms;
	width: 100%;
}

.fingerprint-active {
	stroke: #fff;
}

.fingerprint-out {
	opacity: 1;
}

.odd {
	stroke-dasharray: 0px 50px;
	stroke-dashoffset: 1px;
	transition: stroke-dasharray 1ms;
}

.even {
	stroke-dasharray: 50px 50px;
	stroke-dashoffset: -41px;
	transition: stroke-dashoffset 1ms;
}

.ok {
	opacity: 0;
	left: 1.5px;
	opacity: 0;
	position: absolute;
	stroke: #777;
	top: -24px;
	transition: opacity 1ms;
	width: 100%;

}

.cross {                     /* not added yet (need databse and users */
	opacity: 0;
	left: 1.5px;
	opacity: 0;
	position: absolute;
	stroke: #777;
	top: -24px;
	transition: opacity 1ms;
	width: 100%;

}

.active.container {
	animation: 6s Container;
}

.active .text {
	opacity: 0;
	animation: 6s Text forwards;
}

.active .fingerprint {
	opacity: 1;
	transition: opacity 300ms 200ms;
}

.active .fingerprint-base .odd {
	stroke-dasharray: 50px 50px;
	transition: stroke-dasharray 800ms 100ms;
}

.active .fingerprint-base .even {
	stroke-dashoffset: 0px;
	transition: stroke-dashoffset 800ms;
}

.active .fingerprint-active .odd {
	stroke-dasharray: 50px 50px;
	transition: stroke-dasharray 2000ms 1500ms;
}

.active .fingerprint-active .even {
	stroke-dashoffset: 0px;
	transition: stroke-dashoffset 2000ms 1300ms;
}

.active .fingerprint-out {
	opacity: 0;
	transition: opacity 300ms 4100ms;
}

.active .ok {
	opacity: 100;
	animation: 6s Ok forwards;
}
.alert-validate .input100 {
  border: 2px solid #ff5252;
}

.error-msg {
  color: #ff5252;
  font-size: 13px;
  display: block;
  margin-top: 4px;
  font-weight: 500;
}



@keyframes Container {
	0% {
		width: 200px
	}

	6% {
		width: 80px
	}

	71% {
		transform: scale(1);
	}

	75% {
		transform: scale(1.2);
	}

	77% {
		transform: scale(1);
	}

	94% {
		width: 80px
	}

	100% {
		width: 200px
	}
}

@keyframes Text {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	6% {
		opacity: 0;
		transform: scale(0.5);
	}

	94% {
		opacity: 0;
		transform: scale(0.5);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes Ok {
	0% {
		opacity: 0
	}

	70% {
		opacity: 0;
		transform: scale(0);
	}

	75% {
		opacity: 1;
		transform: scale(1.1);
	}

	77% {
		opacity: 1;
		transform: scale(1);
	}

	92% {
		opacity: 1;
		transform: scale(1);
	}

	96% {
		opacity: 0;
		transform: scale(0.5);
	}

	100% {
		opacity: 0
	}
}

.wrap-inputs {
  display: grid;
  gap: 12px;
}

/* Default login order */
.wrap-inputs {
  grid-template-areas:
    "email"
    "password";
}

/*Default register order*/
.login100-form.register-mode .wrap-inputs {
  grid-template-areas:
    "name"
    "email"
    "password"
    "confirm";
}

.input-email { grid-area: email; }
.input-password { grid-area: password; }
.input-name { grid-area: name; }
.input-confirm { grid-area: confirm; }



.register-fields {
  display: none;
}
.login100-form.register-mode .register-fields {
  display: block;
}
.login100-form.register-mode .input-wrap:not(.register-fields .input-wrap) {
  display: none;
}
.login100-form.register-mode .register-fields {
  display: block;
}
.login100-form .input-wrap {  
	display: block;
}



/* Register mode key layout */
.login100-form.register-mode .register-fields {
	display: flex;
	flex-direction: column;
  align-items: center;
}

.login100-form.register-mode {
	display: flex;
	flex-direction: column;
  align-items: center;
}



.login100-form.register-mode .input-wrap[data-validate*="Full name"] {   /* orders them correctly for rergidter*/
	order: 0;
}
.login100-form.register-mode .input-wrap[data-validate*="email"] {
	order: 1;
}
.login100-form.register-mode .input-wrap[data-validate*="Password is required"] {
	order: 2;
}
.login100-form.register-mode .input-wrap[data-validate*="Confirm password"] {
	order: 3;
}



