/* Made by 240115551 // Will Giles -> 31/10/25 (mostly done) -> done appart from forgot username/password 14/11/25 */
/*Some repeated code but works so leaving it*/

/*Fonts --- IMPORTANT*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}




/*MAIN*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}




a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #d96817;
}




h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}




/* inputs */
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}





button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}


/*TEXT*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;

}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;

}

.text-center {
  text-align: center;
}

.p-t-12 {
  padding-top: 10px;
  /* makes the gap between create accoubt and forgot login/password*/
}

.p-t-136 {
  padding-top: 100px;
}



/* LOGIN */

.LoginPageLimit {
  width: 100%;
  margin: 0 auto;
}

.Background-colours {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background: linear-gradient(-135deg,
      rgba(140, 0, 80, 0.8),
      rgba(65, 88, 208, 0.9)

    );
}

.login-box {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  align-content: center;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}

.login100-pic {
  width: 316px;
}

.login100-pic img {
  max-width: 100%;
}

.timmy-format-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login100-form .input-wrap {
  width: 100%;
  /*works? so leaving*/
  max-width: 290px;
  margin: 0 auto 12px auto;

}


/*
.login-fields,
.register-fields {
  width: 100%;                  doesnt change so kept out
  display: flex;
  flex-direction: column;
  align-items: center;
}*/

.login-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}





.input-wrap {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.alert-validate.input-wrap {
  margin-bottom: 50px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;

}


/*shadowa and focus */
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #d96817;
}

.input100:focus+.focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

}

.input100:focus+.focus-input100+.symbol-input100 {
  color: #d96817;
  padding-left: 28px;
}


/*media responsiveness defaults*/

@media (max-width: 992px) {
  .login-box {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 43%;
  }

  .login100-form {
    width: 50%;
  }

  .login100-form.register-mode .input-wrap {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .login-box {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }

  .login100-form.register-mode .input-wrap {
    width: 100%;
    max-width: 100%;
  }

  .login100-form.register-mode .container {
    width: 100%;
  }

}


@media (max-width: 576px) {
  .login-box {
    padding: 100px 15px 33px 15px;
  }

  .login100-form {
    width: 100%;
  }

  .login100-form.register-mode .input100 {
    font-size: 14px;
  }
}

@media (min-width: 430px) {
  .login100-form .input-wrap {
    width: 100%;
    /*doesnt work*/
    max-width: 290px;
  }
}



/*if form is valid*/

.validate-input {
  position: relative;
}

.alert-validate .input100 {
  border: 2px solid #d96817;
  animation: shake 0.3s;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  width: 100%;
  /*matches parent input fields and trianle now shows*/
  box-sizing: border-box;
  background: #d96817;
  border-radius: 25px;
  padding: 8px 0;
  bottom: -45px;
  left: 0;
  pointer-events: none;

  font-family: Poppins-Medium, sans-serif;
  color: white;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;

  visibility: visible;
  opacity: 1;
  z-index: 100;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(255, 82, 82, 0.3);
}

.alert-validate::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #d96817;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
}


.alert-validate.input-wrap {
  margin-bottom: 60px;
}


/*hides errors when not in error state*/
.validate-input:not(.alert-validate)::before,
.validate-input:not(.alert-validate)::after {
  display: none;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }
}

@media (max-width: 992px) {
  .alert-validate::before {
    font-size: 11px;
    padding: 6px 15px;
    bottom: -40px;
  }
}

@media (max-width: 576px) {
  .alert-validate::before {
    font-size: 10px;
    padding: 5px 12px;
  }
}

/* REGISTER PAGE */

.hidden {
  display: none;
}

.login100-form.register-mode .register-fields {
  display: block;
}

/*.login100-form.register-mode .input-wrap:not(.register-fields .input-wrap) {
  display: none;
}*/
/*fixes above issue*/

.register-fields {
  display: none;
}

.login100-form.register-mode .register-fields {
  display: block;
}

.login100-form.register-mode .text {
  content: "REGISTER";
}

.login100-form.register-mode .input-wrap {
  width: 100%;
  max-width: 290px;
}

.login100-form.register-mode .input100 {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 290px;
  height: 50px;
  border-radius: 25px;
  background: #d96817;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  cursor: pointer;
  position: relative;
  margin: 0 auto;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.text {
  text-align: center;
  font-family: Montserrat-Bold;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
}

.fingerprint {
  left: 1.5px;
  opacity: 0;
  position: absolute;
  stroke: #777;
  top: -24px;
  transition: opacity 1ms;
  width: 100%;
}

.fingerprint-active {
  stroke: #fff;
}

.fingerprint-out {
  opacity: 1;
}

.odd {
  stroke-dasharray: 0px 50px;
  stroke-dashoffset: 1px;
  transition: stroke-dasharray 1ms;
}

.even {
  stroke-dasharray: 50px 50px;
  stroke-dashoffset: -41px;
  transition: stroke-dashoffset 1ms;
}

.ok {
  opacity: 0;
  left: 1.5px;
  position: absolute;
  stroke: #fff;
  top: -24px;
  transition: opacity 300ms;
  width: 100%;
  pointer-events: none;
  display: none;
}

.cross {
  opacity: 0;
  position: absolute;
  stroke: #fff;
  top: -24px;
  transition: opacity 300ms;
  width: 80%;
  pointer-events: none;
  display: none;
}

.active.container {
  animation: 6s Container;
}

.active .text {
  opacity: 0;
  animation: 6s Text forwards;
}

.active .fingerprint {
  opacity: 1;
  transition: opacity 300ms 200ms;
}

.active .fingerprint-base .odd {
  stroke-dasharray: 50px 50px;
  transition: stroke-dasharray 800ms 100ms;
}

.active .fingerprint-base .even {
  stroke-dashoffset: 0px;
  transition: stroke-dashoffset 800ms;
}

.active .fingerprint-active .odd {
  stroke-dasharray: 50px 50px;
  transition: stroke-dasharray 2000ms 1500ms;
}

.active .fingerprint-active .even {
  stroke-dashoffset: 0px;
  transition: stroke-dashoffset 2000ms 1300ms;
}

.active .fingerprint-out {
  opacity: 0;
  transition: opacity 300ms 4100ms;
}

.active .ok {
  display: block;
  opacity: 100;
  animation: 6s Ok forwards;
}

.active .cross {
  display: block;
  animation: 6s Cross forwards;
}



@keyframes Container {
  0% {
    width: 200px
  }

  6% {
    width: 80px
  }

  71% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.2);
  }

  77% {
    transform: scale(1);
  }

  94% {
    width: 80px
  }

  100% {
    width: 200px
  }
}

@keyframes Text {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  6% {
    opacity: 0;
    transform: scale(0.5);
  }

  94% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes Ok {
  0% {
    opacity: 0
  }

  70% {
    opacity: 0;
    transform: scale(0);
  }

  75% {
    opacity: 1;
    transform: scale(1.1);
  }

  77% {
    opacity: 1;
    transform: scale(1);
  }

  92% {
    opacity: 1;
    transform: scale(1);
  }

  96% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 0
  }
}

@keyframes Cross {
  0% {
    opacity: 0
  }

  70% {
    opacity: 0;
    transform: scale(0);
  }

  75% {
    opacity: 1;
    transform: scale(1.1);
  }

  77% {
    opacity: 1;
    transform: scale(1);
  }

  92% {
    opacity: 1;
    transform: scale(1);
  }

  96% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 0
  }
}

.wrap-inputs {
  display: grid;
  gap: 12px;
  justify-content: center;
}

.wrap-inputs {
  grid-template-areas:
    "email"
    "password";
}
.login100-form.register-mode .wrap-inputs {
  grid-template-areas:
    "name"
    "email"
    "password"
    "confirm";
}

.input-email {
  grid-area: email;
}

.input-password {
  grid-area: password;
}

.input-name {
  grid-area: name;
}

.input-confirm {
  grid-area: confirm;
}



.login100-form.register-mode .input-wrap:not(.register-fields .input-wrap) {
  display: none;
}

.login100-form.register-mode .register-fields {
  display: block;
}

.login100-form .input-wrap {
  display: block;
}






.login100-form.register-mode .register-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login100-form.register-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
}





.login100-form.register-mode .input-wrap[data-validate*="Full name"] {

  order: 0;
}

.login100-form.register-mode .input-wrap[data-validate*="email"] {
  order: 1;
}

.login100-form.register-mode .input-wrap[data-validate*="Password is required"] {
  order: 2;
}

.login100-form.register-mode .input-wrap[data-validate*="Confirm password"] {
  order: 3;
}
